/* Debug */

.debug #jumbotron {
    height: 500px;
}

.debug #jumbotron .container,
.debug #sponsorbar .container {
    background-color: yellow;
}

.debug #jumbotron [class*=col] {
    height: 500px;
    border: 2px solid red;
}

#sponsorbar {
    height: 250px;
    background-color: lightseagreen;
}

.debug #sponsorbar [class*=col] {
    height: 214px;
    border: 1px solid red;
}


/* /Debug */


/* Common */

body {
    font-family: 'Roboto', sans-serif;
}

.btn-blue {
    color: #0471FF;
    border-color: #0471FF;
}


/* Header */

.navbar-default {
    font-weight: 500;
    font-size: 17px;
    border-color: transparent;
    background-color: #FFFFFF
}

.navbar-nav {
    margin-left: 10%;
}

.navbar-brand>img {
    height: 100%;
    margin: 3% 0 0 50%;
    transform: scale(1.7);
}

.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #031C4E;
}

#sign-up-button {
    margin-top: 4%;
}

.navbar-default .navbar-nav>.active>a {
    color: #031C4E;
    background-color: transparent;
}

#jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

#sponsorbar {
    text-align: center;
}


/* Main */